
{% block body %}

    <h1> Pagina de join, aici o sa am doua campuri (name, catchphrase) o sa folosesc o functie gen cin>> ca sa colectez date, date ce o sa fie bagate in db. </h1>
{# <div>
    Browse through {{numberofHorses=numberofHorses}} Horses!
    {%if numberofHorses > 400%}
    <p>
        Many Horses!
    </p>
    {%endif%}

    {%if numberofHorses < 400%}
    <p>
        Few Horses
    </p>

    {%endif%}

</div> #}
{% endblock %}